@tailwind base;
@tailwind components;
@tailwind utilities;

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {

  /* transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: black;
  -webkit-text-stroke-color: black;
  caret-color: black; */

}

:root {
  font-family: Helvetica, Inter, system-ui, Avenir, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: rgba(0, 0, 0, 1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

.noto-serif-sc {
  font-family: "Noto Serif SC", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

html {
  height: 100%;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  /* min-width: 320px; */
  min-height: 100vh;
  min-width: 100vw;
  /* width: 100%; */
  /* width: max-content; */
  background-color: #fafaf9;
}

@media (max-width: 1024px) {
  body {
    min-width: inherit;
    width: 100%;
  }
} 

input[type="checkbox"] {
  box-sizing: border-box;
  appearance: none;
  background-color: white;
  border: 1px solid black;
  border-radius: 0.125rem;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="20" viewBox="0 0 32 32" xml:space="preserve"><path style="fill: %23000000" d="M11.941,28.877l-11.941-11.942l5.695-5.696l6.246,6.246l14.364-14.364L32,8.818"/></svg>');
  background-size: 85%;
  background-position: center;
  background-repeat: no-repeat;
}

#root {
  /* width: inherit;
  min-height: inherit; */
  width: 100%;
  height: 100%;
}

main {
  width: inherit;
  min-height: inherit;
}


.character-details-dialog {
  display: grid;
  grid-template-areas: 
    "cdd-hd cdd-hd"
    "cdd-as cdd-ct";
  grid-template-columns: 7rem auto;
  grid-template-rows: auto;
}

.character-details-dialog .header {
  grid-area: cdd-hd;
}

.character-details-dialog .content {
  grid-area: cdd-ct;
}

.character-details-dialog .aside {
  grid-area: cdd-as;
}


.loading-pulse {
  animation: loading-entrance 2s cubic-bezier(0.4, 0, 0.6, 1) 1s both, loading-pulse 2s cubic-bezier(0.4, 0, 0.6, 1) 3s infinite;
}

@keyframes loading-pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
}

@keyframes loading-entrance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}