@tailwind base;
@tailwind components;
@tailwind utilities;

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  /* border: 1px solid #253341;
  background-color: white;
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px #253341 inset;
  box-shadow: 0 0 0px 1000px #253341 inset;
  transition: background-color 5000s ease-in-out 0s;
  color: white; */
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: black;
  -webkit-text-stroke-color: black;
  caret-color: black;

  /* border: none;
  background-color: white;
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
  box-shadow: 0 0 0px 1000px #ffffff inset;
  -webkit-text-fill-color: black;
  -webkit-text-stroke-color: black;
  -web
  color: black; */
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  /* min-width: 320px; */
  min-height: 100vh;
  min-width: max-content;
  background-color: #fafaf9;
}

#root {
  width: inherit;
  min-height: inherit;
}

main {
  width: inherit;
  min-height: inherit;
}


.character-details-dialog {
  display: grid;
  grid-template-areas: 
    ". cdd-ct" 
    "cdd-as cdd-ct";
  grid-template-columns: 7rem auto;
  grid-template-rows: 6rem auto;
}

@media (max-width: 1024px) {
  .character-details-dialog {
    grid-template-areas: 
      "cdd-as" 
      "cdd-ct";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
} 

.character-details-dialog .content {
  grid-area: cdd-ct;
}

.character-details-dialog .aside {
  grid-area: cdd-as;
}